body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-top: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

section {
    margin-bottom: 30px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.job, .education-item {
    margin-bottom: 20px;
}

.job h3, .education-item h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.job p, .education-item p {
    font-size: 1.1em;
    color: #555;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode h2 {
    border-bottom: 2px solid #f4f4f4;
}

body.dark-mode a {
    color: #00a8e8;
}

body.dark-mode button {
    background-color: #00a8e8;
}

body.dark-mode button:hover {
    background-color: #0077b6;
}